[submodule "modules/dr_libs"]
	path = modules/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "modules/portaudio"]
	path = modules/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "modules/alac_cmake/alac"]
	path = modules/alac_cmake/alac
	url = https://github.com/macosforge/alac
